*.pyc
*.spv
build
Settings.cap
.idea
.vscode
assets/shaders/*.spv
assets/models/*.glb
assets/models/dev/*
assets/images/**/*.png
assets/images/**/*.jpg
assets/images/**/*.ktx
python/
**/process_results.txt
