*.pyc
*.spv
build
Settings.cap
cmd
.idea
.vscode
assets/shaders/*.spv
assets/models/*.glb
assets/models/*.bin
assets/models/*.gltf
assets/models/dev/*
assets/images/**/*.png
assets/images/**/*.jpg
assets/images/**/*.ktx
assets/images/**/*.bin
assets/images/dev/
python/
**/process_results.txt
